[Unit]
Description=Sump Sentinel webserver
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/sump-sentinel/app
ExecStart=/home/pi/sump-sentinel/bin/gunicorn -b 0.0.0.0:8000 sump_web:app

[Install]
WantedBy=multi-user.target