<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ name }} - Sump Sentinel v{{ version }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
            <div>
                <h2>Stonybrook Water Depth - Past Hour</h2>
                <img class="img-responsive" src="{{ url_for('gen_chart_1h') }}">
                <h2>Stonybrook Water Depth - Past 24 Hours</h2>
                <img class="img-responsive" src="{{ url_for('gen_chart_24h') }}">
            </div>

            <table class="table table-condensed">
                <tr>
                    <th>Latest reading</th>
                    <th>Timestamp</th>
                </tr>
                <tr id="live-data">
                    <td>...</td>
                    <td>...</td>
                </tr>
            </table>

            <table class="table table-condensed">
                <tr>
                    <th scope="row">Sump depth</th>
                    <td>{{ sump_depth }} cm</td>
                </tr>
                <tr class="danger">
                    <th scope="row">Alert depth</th>
                    <td>{{ alert_depth }} cm</td>
                </tr>
            </table>

            <hr>
            <footer>
                <p>Sump Sentinel v{{ version }}</p>
            </footer>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.12.0.min.js') }}"><\/script>')</script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js" integrity="sha256-Gn7MUQono8LUxTfRA0WZzJgTua52Udm1Ifrk5421zkA=" crossorigin="anonymous"></script>

        <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>
